.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #070302, #902c2e);
    gap: 5rem;
}

.heading {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}

.cards_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.card:hover {
    box-shadow: none;
    border: none;
}

.card_image {
    width: 80%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    /* Make the image circular */
}

.card_button {
    width: 100%;
    background-color: transparent;
    color: white;
    /* Set text color to white */
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
}

/* 
@media (min-width: 1024px) {
    .main_container {
        flex-direction: column;
    }

    .cards_container {
        flex-direction: column;
        justify-content: space-around;
    }
} */