/* Login.module.css */


/* Container for the entire login screen */
.login_container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    /* Semi-transparent background overlay */
    z-index: 999;
    /* Ensure it appears on top of other content */
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.label{
    width: 100%;
}

/* Input Fields */
.login_input {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

/* Login Button */
.login_button {
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: #7c28a1;
    /* Purple color */
    border: none;
    border-radius: 5px;
    color: #fff;
    /* White color */
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_button:hover {
    background-color: #4CAF50;
    /* Green color */
}

/* Error Message */
.login_error {
    color: red;
}

/* Close Button */
/* Close Button */
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    /* White color */
    z-index: 1;
    /* Ensure it appears on top of the modal content */
}