.navigation_bar{
    height: 12vh;
}


.profile_container{

    height: 88vh;
    background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
    
    display: flex;
    justify-content: center;
    padding: 50px;
}

.profile{   
    width: 75%;
    height: 69vh;
    min-height: 400px;
    
   
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    /* border: 2px solid black; */

    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.left{
/* background-color: antiquewhite; */
height: 100%;
flex-basis: 50%;

display: flex;
justify-content: center;
align-items: center;


}

.right{
    flex-basis: 50%;
    height: 100%;

    padding: 100px;
}

.image{
    overflow: hidden;
    height: 50%;
    width: 50%;
    border-radius: 100%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    font-size: 1.25rem;
}


.credentials{
    font-weight: bold;
    width: 150px;
    display: inline-block;
}

.info p{
    margin: 20px 0px;
}
