.navigation_bar {
    height: 12vh;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    height: 88vh;
        background-image: linear-gradient(to bottom, #070302, #902c2e);
    
    
        display: flex;
        justify-content: center;
        padding: 50px;
        background-image: linear-gradient(to top, #070302, #902c2e);
}

.input {
    /* CSS properties for the input container */
}

.input_field {
    /* CSS properties for the input field */
}

.go_button {
    /* CSS properties for the go button */
}

.table_container {
    /* CSS properties for the table container */
}

.table {
    /* CSS properties for the table */
}