.navigation_area{
    height: 10vh;
    /* background-color: aqua; */
}

.container{
    background-color: red;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.table{
    border-collapse: separate;
    border-spacing: 15px;
background-color: aqua;
width: 60%;
height: fit-content;
padding: 15px;
margin: 25px 0px;
border-radius: 50px;
font-size: 1.2rem;
}

#sno{
    width: 20%;
}

#course_name,#attendence{
    width: 40%;
}

.th{
    text-align: left;
   
}

.instructor_name{
    font-size: 1rem;
    
}



