.navigation_area {
    height: 10vh;
    background-color: rgb(129, 27, 27)
    /* You can uncomment this line to set the background color */
}

.container {
    background-image: linear-gradient(to right, #f43b47, #453a94);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-thumb {
    background: rgb(255, 172, 72);
    border: 3px solid transparent;
    border-radius: 1rem;
    background-clip: content-box;
}

.table {
    border-spacing: 15px;
    background-color: wheat;
    width: 60%;
    padding: 15px;
    margin: 25px 0px;
    border-radius: 50px;
    font-size: 1.2rem;
    color: black;
    height: 90%;
}

#sno {
    width: 20%;
}

#course_name,
#attendence {
    width: 40%;
}

.th {
    text-align: left;
}

.instructor_name {
    font-size: 1rem;
}

/* Student.module.css */

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    padding: 20px;
    text-align: left;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.modalContent {
    padding: 10px;
}

.modalContent h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.modalContent p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

.modalContent ul {
    list-style: disc;
    margin-left: 20px;
}

.modalContent li {
    font-size: 14px;
    color: #666;
}