.navigation_area{
    height: 10vh;
    display: flex;
    background-color: #262626;
    align-items: center;
    justify-content: center;
    color: white;
}

.container{
    height: 90vh;
    background-image: linear-gradient(to bottom, #070302, #902c2e);
    
   
    display: flex;
    justify-content: center;
    
    overflow-y: scroll;
    color: white;

}

.container::-webkit-scrollbar{
    width: 12px;
}



.container::-webkit-scrollbar-thumb{
    background: rgb(255, 172, 72);
    border: 3px solid transparent;
    border-radius: 1rem;
    background-clip: content-box;
  
}


.table{
    border-collapse: separate;
    border-spacing: 15px;
    min-height: 60vh;
background-color: #262626;
width: 60%;
height: fit-content;
padding: 15px;
margin: 25px 0px;
border-radius: 50px;
font-size: 1.2rem;
border: 2px solid white;
}

.button{
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button:hover{
    background-color: rgb(248, 172, 79);
    cursor: pointer;
    border: 2px solid rgb(201, 201, 201);
}

#button{
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;

}