.navigation_area {
    height: 10vh;
    display: flex;
    background-color: #262626;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    height: 90vh;
    background-image: linear-gradient(to top, #070302, #902c2e);


    display: flex;
    justify-content: center;

    overflow-y: scroll;
    color: white;
    font-family: sans-serif;

}

.container::-webkit-scrollbar {
    width: 12px;
}



.container::-webkit-scrollbar-thumb {
    background: rgb(255, 172, 72);
    border: 3px solid transparent;
    border-radius: 1rem;
    background-clip: content-box;

}


.table {
    border-collapse: separate;
    border-spacing: 15px;
    min-height: 60vh;
    background-color: #262626;
    width: 60%;
    height: fit-content;
    padding: 15px;
    margin: 25px 0px;
    border-radius: 50px;
    font-size: 1.2rem;
    border: 2px solid white;
}

.button {
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(244, 159, 55); */

    color: black;

}

.button:hover {
    background-color: green;
    cursor: pointer;
    border: 2px solid rgb(201, 201, 201);
    color: white;
    /* border: 2px solid black; */
    letter-spacing: 0.5px;

}

#button {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;

    /* background-color: #902c2e; */
}

/* Active Button Styles */
.activeButton {
    width: 10rem;
    padding: 8px;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.activeButton:hover {
    background-color: #902c2e;
    cursor: pointer;
    border: 2px solid rgb(201, 201, 201);
    letter-spacing: 0.5px;
}

/* Non-active Button Styles */
.nonActiveButton {
    width: 10rem;
    padding: 8px;
    border-radius: 10px;
    background-color: #902c2e;
    color: white;
}

.nonActiveButton:hover {
    background-color: green;
    cursor: pointer;
    border: 2px solid rgb(201, 201, 201);
    letter-spacing: 0.5px;
}

#sno {
    text-align: center;
    width: 20%;
}

#subName {
    padding-left: 90px;

    text-align: start;
    /* background-color: #902c2e; */
    width: 45%;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}