.navigation_area{
    height: 10vh;
    /* background-color: aqua; */
}

.container{
    height: 90vh;
    background-color: red;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}


.table{
    border-collapse: separate;
    border-spacing: 15px;
background-color: aqua;
width: 60%;
height: fit-content;
padding: 15px;
margin: 25px 0px;
border-radius: 50px;
font-size: 1.2rem;
}

.button{
    width: 80px;
    padding: 5px;
}

#button{
    justify-content: center;
    align-items: center;
    display: flex;
}